.card_dark{
  background-color: #222;
  color: white;
}

.card_light{
  background-color: white;
  color: black;
}


.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader svg{
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.slider{
  background-color: #789878;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider img{
  width: 500px;
  height: 300px;
}

.slider button{
  position: absolute;
  top: 50%;
}

.next-btn{
  right: 0;
}

.prev-btn{
  left: 0;
}
.list li{
  display: flex;

}

.list li p{
margin-right: 30px;
}
  
body{
  margin: 0;
}

.navbar{
  background-color: green;
  padding: 20px;
}
.navbar{
  height: 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.menu{
  background-color: #eee;
  color: black;
  padding: 20px;
  list-style-type: none;
  right: 0;
  top: 80px;
  position: absolute;
}
.sidbar{
  width: 300px;
  height: 100vh;
  background-color: orange;
}

.container{
  display: flex;
}

.main{
  width: 100%;
  background-color: #eee;
}

.main ul {
  display: flex;
  list-style-type: none;
}

.main ul li{
  width: 300px;
  border: 1px solid #bbb;
  color: #222;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #CCC;
}