@tailwind base;
@tailwind components;
@tailwind utilities;


input{
    border: 1px solid #150d8c;
}

button{
    width: 100%;
    background-color: #150d8c;
    color: white;
}

input,button{
    padding: 8px 16px;
    border-radius: 5px;
}
label{
    margin-bottom: 5px;
}